MYSQL_ROOT_PASSWORD=
INTERNAL_KEY=
CHALLENGE_KEY=
APP_KEY_GATEWAY=
DB_PASSWORD_GATEWAY=
APP_KEY_IDENTITY=
DB_PASSWORD_IDENTITY=
APP_KEY_CONFIGURATION=
DB_PASSWORD_CONFIGURATION=
APP_KEY_RECORDS=
DB_PASSWORD_RECORDS=
APP_KEY_AUDIT=
DB_PASSWORD_AUDIT=
APP_KEY_FILES=
DB_PASSWORD_FILES=
